@model WebApplication1.Models.ClienteModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-primary" role="alert">
    Meus Dados
</div>
<div class="form-group row">
    <div class="col-sm-2 col-form-label">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.Nome)
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-2 col-form-label">
        @Html.DisplayNameFor(model => model.Cpf)
    </div>
    @*<div class="col-sm-2">
        @Model.ObterCPFFormatado()
    </div>*@
</div>
<div class="form-group row">
    <div class="col-sm-2 col-form-label">
        @Html.DisplayNameFor(model => model.DataNascimento)
    </div>
    @*<div class="col-sm-2">
        @Model.ObterDataNascimento()
    </div>*@
</div>
<div class="form-group row">
    <div class="col-sm-2 col-form-label">
        @Html.DisplayNameFor(model => model.Sexo)
    </div>
    @*<div class="col-sm-2">
        @Model.ObterDescricaoSexo()
    </div>*@
</div>
<div class="form-group row">
    <div class="col-sm-2 col-form-label">
        @Html.DisplayNameFor(model => model.Telefone)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.Telefone)
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-2 col-form-label">
        @Html.DisplayNameFor(model => model.Endereco)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.Endereco)
    </div>
</div>
<br />


}