@model DataBaseTcc.Models.Login

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Login</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perfil.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfil.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioManutencao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioManutencao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAtualizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAtualizacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
